
@{
    ViewData["Title"] = "AddUserInfo";
}

<h1>个人实名认证</h1>
<table class="table table-bordered">
    <tr>
        <td>个人姓名：<input id="Text1" type="text" /></td>
    </tr>
    <tr>
        <td>身份证号：<input id="Text2" type="text" /></td>
    </tr>
    <tr>
        <td><input type="button" value="取消" onclick=""  class="btn btn-primary" />
        <input type="button" value="提交认证" onclick="AddUser()"  class="btn btn-primary" /></td>
    </tr>
</table>
@section scripts{
    <script>
    function AddUser() {
        var obj = {};
        obj.UName = $("#Text1").val();
        obj.IDcard = $("#Text2").val();
        $.ajax({
            url: 'http://localhost:57894/api/zjlCar3/',
            type: 'post',
            dataType: 'json',
            data: obj,
            success: function (d) {
                if (d > 0) {
                    alert('添加成功！');
                    location.href = '//';
                }
            }
        })
    </script>

}

