@{
    ViewData["Title"] = "OrdersShow";
}

<h1>个人订单显示</h1>

<table class="table table-bordered">
    <thead style="background-color:bisque">
        <tr style="text-align:center">
            <th>ID</th>
            <th>订单编号</th>
            <th>用户</th>
            <th>汽车名称</th>
            <th>租车用途</th>
            <th>取车时间</th>
            <th>还车时间</th>
            <th>是否配用司机</th>
            <th>费用</th>
            <th>订单状态</th>
            <th>是否故障</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="tb"></tbody>
</table>

<script>
    $(function () {
        Show();
    })

    function Show() {
        $.ajax({
            url: 'http://localhost:57894/api/zjlCar/',
            type: 'get',
            dataType: 'json',
            async: true,
            crossDomain: true,
            success: function (d) {
                    $("#tb").empty();
                    $(d).each(function () {
                        var line = '<tr>'
                            + '<td>' + this.OrdersID + '</td>'
                            + '<td>' + this.Oid + '</td>'
                            + '<td>' + this.Name + '</td>' //有待改动
                            + '<td>' + this.CarName + '</td>'
                            + '<td>' + this.Useing + '</td>'
                            + '<td>' + this.StartTime + '</td>'
                            + '<td>' + this.EndTime + '</td>'
                            + '<td>' + (this.Driver ? "是" : "否") + '</td>'
                            + '<td>' + this.Price + '</td>'
                            + '<td>' + (this.ZT == 1 ? "您已预定" : (this.ZT == 2 ? "立刻上路" : "取消订单")) + '</td>'
                            + '<td>' + (this.Hitch == 1 ? "暂无问题" : (this.Hitch == 2 ? "故障申请" : (this.Hitch == 3 ? "报修通过" : "有待商议"))) + '</td>'
                            + '<td>' + (this.Hitch == 1 ? null : "<input id='Button1' type='button' value='报修原因' class='btn btn-danger' onclick=GetBreakdown(" + this.BreakdownID + ") />" + '&nbsp;' + "<input id='Button1' type='button' value='报修通过' class='btn btn-success' onclick=UptAgree(" + this.OrdersID + ") />" + '&nbsp;' + "<input id='Button1' type='button' value='有待商议' onclick=UptDisAgree(" + this.OrdersID + ") />")
                            + '</td>'
                            + '</tr>';
                        $("#tb").append(line);
                 })
            }

        })
    }
</script>

