
@{
    ViewData["Title"] = "AddVa";
}

<h1>个人车辆挂靠</h1>

<table>
    <tr>
        <td>汽车品牌：</td>
        <td>
            <select id="bid">
            </select>
        </td>
    </tr>
    <tr>
        <td>汽车名字：</td>
        <td>
            <input type="text" id="CarName" placeholder="请输入汽车型号" />
        </td>
    </tr>
    <tr>
        <td>汽车年份：</td>
        <td>
            <input type="text" id="Years" placeholder="请输入年份" />
        </td>
    </tr>
    <tr>
        <td>汽车类型：</td>
        <td>
            <select id="cid"></select>
        </td>
    </tr>
    <tr>
        <td>汽车排量：</td>
        <td>
            <input type="text" id="CC" placeholder="请输入排量" />
        </td>
    </tr>
    <tr>
        <td>变速箱：</td>
        <td>
            <input type="checkbox" id="AMT1" name="AMT" value="自动" /> 自动
            <input type="checkbox" id="AMT2" name="AMT" value="手动" /> 手动
        </td>
    </tr>
    <tr>
        <td>日租价格（元/天）：</td>
        <td>
            <input type="text" id="Price" placeholder="请输入单价" />
        </td>
    </tr>
    <tr>
        <td>汽车照片：</td>
        <td>
            <input id="Image" type="file" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="挂靠" onclick="AddVa()" class="btn bg-success" />
        </td>
        <td>
            <input type="button" value="取消" onclick="location.href='SoCar/CarShow()'" class="btn btn-danger" />
        </td>
    </tr>
</table>



<script>

    $(function () {
        BandSelCarType();
        BandSelCarBrand();
    })
    function BandSelCarType() {
        $.ajax({
            url: 'http://localhost:57894/api/zjlCarType5/',
            type: 'get',
            dataType: 'json',
            success: function (d) {
                $("#bid").empty();
                $("#bid").append("<option value=''>--请选择--</option>");
                $(d).each(function () {
                    var opt = "<option value=" + this.carTypeID + ">" + this.type + "</option>";
                    $("#bid").append(opt);
                })
            }
        })
    }

    function BandSelCarBrand() {
        $.ajax({
            url: 'http://localhost:57894/api/zjlCarBrand/',
            type: 'get',
            dataType: 'json',
            success: function (d) {
                $("#cid").empty();
                $("#cid").append("<option value=''>--请选择--</option>");
                $(d).each(function () {
                    var opt = "<option value=" + this.carBrandID + ">" + this.brand + "</option>";
                    $("#cid").append(opt);
                })
            }
        })
    }


    function AddVa() {
        var obj = {};
        obj.uid = "1";
        obj.Image = $("#Image").val();
        obj.bid = $("#bid").val();
        obj.CarName = $("#CarName").val();
        obj.Years = $("#Years").val();
        obj.cid = $("#cid").val();
        obj.CC = $("#CC").val();
        obj.AMT = $("#AMT1").click() == true ? "手动" : "自动";
        obj.Price = $("#Price").val();

        $.ajax({
            url: "http://localhost:57894/api/zjlCar2",
            type: "POST",
            data: obj,
            processData: false,
            contentType: false,
            crossDomain: true,
            async: true,
            success: function (d) {
                alert("挂靠成功");
                location.href = "SoCar/Show()";
            },
            error: function (d) {
                alert("挂靠失败");
                location.href = "SoCar/Show()";
            }

        })
    }


</script>
