
<table class="table table-bordered">
    <tr>
        <td>订单序号：</td>
        <td><input id="OrdersID" type="text" readonly="readonly" /></td>
    </tr>
    <tr>
        <td>故障原因：</td>
        <td><input id="Reson" type="text" readonly="readonly" /></td>

    </tr>
    <tr>
        <td>联系电话：</td>
        <td><input id="Phone" type="text" readonly="readonly" /></td>

    </tr>
</table>

@section scripts{
    <script>
        $(function () {
            show();
        })

        function show() {
            $.ajax({
                url: 'http://localhost:57894/api/Admins/' +@ViewContext.RouteData.Values["id"],
                type: 'get',
                dataType: 'json',
                crossDomain: true,
                success: function (d) {
                    $("#OrdersID").val(d.OrdersID);
                    $("#Reson").val(d.Reson);
                    $("#Phone").val(d.Phone);

                }
            });
        }
    </script>
}
